html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1{
    font-weight: 700;
    text-align: center;
}

a{
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
}
#navbar{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: rgb(148, 44, 44);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

}
ul{
    list-style: none;
}
.nav-list{
   display: flex;
   justify-content: center;
   margin-right: 10rem;
   justify-content: space-between; 

}

#welcome-section {
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

#welcome-section > p{
    font-size: rem;
    font-style: italic;
    font-weight: 200;
    justify-content: center;
    /* background-color:  #000; */
    width: 100%;
    flex-direction: column;
}

p{
    justify-content: center;
    text-align: center;
}

@media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }